
*{
	margin: 0;
	padding: 0;
}
.space{
	background: black; 
	width: 100vw;
	height: 50vh;
}
.steroides{
	position: absolute;
	display: flex;
	border-radius: 50%;
}

/*@keyframes mouvingForeward{
	from {
				transform: translateX(0) ;
	}10%{
 	    	transform: translateX(50vw) translateY(50vh) scale(0);
	}/*66%{
    transform: translateY(50vh) /*translateX(100vw)/ scale(2);
	}*to{
		    transform: translateY(50vh) translateX(-50vw) scale(1);
	}

}*/
@keyframes mouvingForeward{
	from {
				transform: translate(0, 0px) scale(0.25);
	}25%{
				transform: translate(-14.5vw, 6.25vh) scale(0.25); 
	}to{
					transform: translate(-12.5vw, 6.25vh) scale(0); 
			}
}